.chat-container {
    display: flex;
    height: 100%;
    margin-top: 120px;

    .user-list {
      width: 25%;
      border-right: 1px solid #ccc;
      padding: 10px;
      overflow-y: auto;
  
      h3 {
        margin-bottom: 10px;
      }
  
      .user {
        cursor: pointer;
        display: flex;
        align-items: center;
        padding: 10px;
        transition: background-color 0.3s;
  
        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          margin-right: 10px;
        }
  
        p {
          margin: 0;
          color: black !important;
        }
  
        &:hover {
          background-color: #f0f0f0;
        }
      }
    }
  
    .chat-window {
      width: 75%;
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  
      h3 {
        margin-bottom: 20px;
      }
  
      .messages {
        flex-grow: 1;
        overflow-y: auto;
        margin-bottom: 20px;
  
        .message {
          margin-bottom: 10px;
          padding: 10px;
          background-color: #e0e0e0;
          border-radius: 5px;
  
          p {
            margin: 0;
            color: black;
          }
  
          span {
            display: block;
            font-size: 12px;
            color: #666;
          }
        }
      }
  
      .send-message {
        display: flex;
  
        input {
          flex-grow: 1;
          padding: 10px;
          font-size: 14px;
          border: 1px solid #ccc;
          border-radius: 4px;
          margin-right: 10px;
        }
  
        button {
          padding: 10px 20px;
          background-color: #007bff;
          color: white;
          border: none;
          border-radius: 4px;
          cursor: pointer;
  
          &:hover {
            background-color: #0056b3;
          }
        }
      }
    }
  }
  