<div class="loading" *ngIf="isLoading">
    <p-progressSpinner ariaLabel="loading" />
</div>


<div class="chat-container" *ngIf="!isLoading">
    <!-- User List / Inbox -->
    <div class="user-list" [ngClass]="{'hidden': selectedReceiver}">
        <div class="inboxList">
            <h3>Inbox</h3>
            <p-button icon="pi pi-plus" (onClick)="showFriendsList = true" severity="help" />
            <!-- <button class="plus-button" (click)="showFriendsList = true">+</button> -->
        </div>
        <div *ngFor="let user of inboxUsers" class="user" (click)="selectUser(user)">
            <img [src]="user.profileImg" alt="Profile" />
            <!-- <img *ngIf="user.profileImg.length == 0" src="assets/bgTest2.png" alt="Profile" /> -->
            <h3>{{ user.username }}</h3>
        </div>
    </div>

    <!-- Chat Window -->
    <div class="chat-window" *ngIf="selectedReceiver">
        <div class="chat-header" *ngIf="isMobile">
            <button class="back-button" (click)="backToInbox()">Back</button>
            <h3>{{ selectedReceiver.username }}</h3>
        </div>
        <div class="headerDm">
            <img [src]="selectedReceiver.profileImg" alt="" style="cursor: pointer;" style="height: 35px; width: 35px; margin-left: 30px;">
            <!-- <img *ngIf="selectedReceiver.profileImg.length == 0" src="assets/bgTest2.png" alt="" style="height: 35px; width: 35px; margin-left: 30px;"> -->
            <h3 *ngIf="!isMobile" routerLink="/users-profile" style="cursor: pointer;">{{ selectedReceiver.username }}</h3>
        </div>
        <!-- <p-scrollPanel [style]="{ width: 'auto', height: '600px' }" styleClass="custombar1"> -->
        <!--I want it from here-->
        <div class="custom-scrollbar">
            <div class="chat-body" #chatBody>
        
                <div [ngClass]="{'sent': message.senderId === currentUserId, 'received': message.senderId !== currentUserId}"
                *ngFor="let message of getFilteredMessages()" class="message">
                
                <div class="chatMsgs">
                    <p style="margin-top: 0;">
                        {{ message.content }} <br>
                    </p>
                    <div class="imgMsg" *ngIf="message.image">
                        <p-image [src]="message.image" [preview]="true" alt="" />
                    </div>
                </div>
                
                <div class="msgStatus" style="display: flex; justify-content: end; height: 32px;">
                    <div class="bottom">
                        <span style="color: rgb(204, 204, 204);">{{ message.timestamp | date: 'hh:MM' }}</span>
                        <div class="sent" style="display: grid;">
                            <!-- Show sending status for each message -->
                            <i class="pi pi-check" *ngIf="message.isSending" style="position: absolute; top: 66px;"></i>
                            <i class="pi pi-check" *ngIf="message.isSent"></i>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <!-- <div class="chat-footer">
                <input
                  type="text"
                  placeholder="Type a message..."
                  [(ngModel)]="newMessage"
                  (keyup.enter)="sendMessage()"
                />
                <button class="send-button" (click)="sendMessage()">
                  <i class="fas fa-paper-plane"></i>
                </button>
              </div> -->
        </div>
        <!-- </p-scrollPanel> -->
        <!--to here-->

        <!-- Send a message -->
        <div class="chat-footer-message">
            <textarea type="text" [(ngModel)]="newMessage" (keyup.enter)="sendMessage(); $event.preventDefault()"
                placeholder="Type a message..."></textarea>

            <!-- Selected Image Preview -->
            <div *ngIf="selectedImage" style="position: absolute; margin-left: 50%;">
                <img [src]="selectedImage" alt="Selected Image" class="preview-image" style="height: 32px;" />
            </div>
            <!-- Button to open the image selection modal -->
            <button (click)="openImageSelection()" class="send-button"> <i class="pi pi-plus"></i></button>


            <button class="send-button" (click)="sendMessage()"><i class="pi pi-send"></i></button>
        </div>
    </div>
</div>

<p-dialog header="Header" [(visible)]="showImageSelection" [modal]="true"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [style]="{ width: '50vw' }" [draggable]="false"
    [resizable]="false">

 
    <!-- <div class="image-grid">
            <div *ngFor="let image of currentUserInfo.images" class="image-item" (click)="selectImage(image)">
                <img [src]="image" alt="Image" />
            </div>
        </div> -->

        <p-selectButton 
        [options]="stateOptions" 
        [(ngModel)]="value" 
        (ngModelChange)="onSelectionChange($event)"
        optionLabel="label" 
        optionValue="value" />


        <div class="favImgs" *ngIf="isFavImages">
    <div class="imgContainer">
        <div class="imgs" *ngIf="showImageSelection">
            <div class="img" *ngFor="let image of currentUserInfo.images">
                <p-image [src]="image" alt="Image" width="auto" (click)="selectImage(image)" />
            </div>
        </div>
    </div>
</div>
        <div class="favImgs" *ngIf="isFavVideos">
    <div class="imgContainer">
        <div class="imgs" *ngIf="showImageSelection">
            <h1>Videos should be here</h1>
        </div>
    </div>
</div>
</p-dialog>

<p-dialog *ngIf="showFriendsList && !isLoading" header="Header" [(visible)]="showFriendsList" [modal]="true"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [style]="{ width: '50vw' }" [draggable]="false"
    [resizable]="false">

    <div class="newList">
        <div *ngFor="let friend of friendsList" class="newChat" (click)="startNewChat(friend)">
            <img [src]="friend.profileImg || 'default-profile.png'" alt="Profile" />
            <h3 style="margin-left: 10px;">{{ friend.username }}</h3>
        </div>
    </div>
</p-dialog>